<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>omamounter</vendor>
  <action id="org.omamounter.apply">
    <description>Apply network share configuration</description>
    <message>Authentication is required to apply network share configuration</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omamounter/omamounter-apply-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
  <action id="org.omamounter.control">
    <description>Connect or disconnect configured network shares</description>
    <message>Authorization is required to control configured network shares</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>yes</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omamounter/omamounter-control-helper</annotate>
  </action>
</policyconfig>
