[Desktop Entry]
Type=Application
Name=Tether
Comment=Manage NFS and SMB network shares
Exec=tether
Icon=tether
Terminal=false
Categories=Network;
Keywords=nfs;smb;cifs;mount;share;
